/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS Variables for the color scheme */
:root {
    --primary-color: #941919; /* Red */
    --secondary-color: #13189e; /* Blue */
    --text-color: #ffffff; /* White text */
    --background-color: #f9f9f9; /* Light grey background */
    --content-background-color: #ffffff; /* White background for content areas */
    --border-color: #e2e2e2; /* Light grey border */
}

/* Resetting some basic elements for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global container style */
.container {
    width: 100%; /* Full width to maintain responsiveness */
    max-width: 1200px; /* Maximum width of the content area */
    margin: 0 auto; /* Centers the container */
    padding: 0 15px; /* Padding on the sides */
    margin-top: 20px; /* Added margin for better spacing */
}

/* Body styling */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.75;
    color: #333;
    background-color: var(--background-color); /* Apply the background color */
    padding: 20px;
}

/* Header and headings styling */
header {
    background-color: var(--secondary-color); /* Solid color background */
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

h1 {
    font-size: 2.7rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-top: 0;
}

/* Paragraph styling */
p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Link and button styling */
a, .btn-primary {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.btn-primary {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-primary:hover,
a:hover {
    background-color: darken(var(--primary-color), 10%);
    color: var(--text-color);
}

.book-lesson-btn {
    display: inline-block;
    background-color: var(--primary-color); /* Use your theme's primary color */
    color: var(--text-color); /* Use white or another light color for text */
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, transform 0.1s;
    border: 2px solid var(--primary-color);
}

.book-lesson-btn:active {
    transform: translateY(2px);
}

.book-lesson-btn:hover {
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

a:hover {
    color: #13189e;
    text-decoration: underline;
}

/* Section styling */
section {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--content-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* About Section Styling */
.about-content {
    display: flex;
    align-items: center;
}

.text-container {
    flex-grow: 1;
}

/* Image styling */
.profile-pic {
    max-width: 180px;
    height: auto;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    display: block;
    margin: 10px 40px 10px 0;
}

/* Preferred Center Section Styling */
.preferred-center-content {
    display: flex;
    align-items: center;
}

.preferred-center-text {
    flex-grow: 1;
    text-align: left; /* Align text to the left */
}

.preferred-center-img {
    max-width: 400px; /* Adjust the size as needed */
    height: auto;
    margin-left: 18px; 
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 0.25rem;
    }

    header {
        padding: 10px 0;
    }

    .btn-primary {
        width: 100%;
    }

    .about-content,
    .preferred-center-content {
        align-items: center;
        flex-direction: column;
    }

    .text-container,
    .preferred-center-text {
        margin-top: 10px;
        text-align: center;
    }

    .profile-pic {
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .preferred-center-img {
        max-width: 100%;
        height: auto;
        margin-left: 0;
    }
}
